.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px;
}
.tshirt-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .home-container{
        display: flex;
        flex-direction: column;
        margin: 20px;
    } 

    .tshirt-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}